{% extends "layout.html" %}

{% block content %}

<div class="row">
  <div class="col-md-9">
    <div class="event_title">
      {% for e in event%}
      <ul>

        <li class="name_of_event">{{e[0]}}</li>
        <li class="other">{{e[1]}}</li>
        <li class="other">{{e[2]}}</li>

      </ul>
      {% endfor %}
    </div>
  </div>





  <div class="col-md-3">
    <form method="POST" action="/event?event_id={{event_id}}">
      <div class="field">
        <div class="control">
          <input class="input is-large" type="comment" name="comment" placeholder="Write your comment here"
            autofocus="">
        </div>
      </div>

      <button class="button is-block is-info is-large is-fullwidth">Make a comment</button>
    </form>
  </div>
</div>

<div class="col-md-9">
  <div class="comment-list">
    <div class="site-title purple"><i class="fas fa-comment"></i> COMMENTS</div>
    <div class="row">

     
      {% for c in comments %}
    <div class="col-md-12">

        {% if user and (c.user_number == user.user_id or c.user.role == "admin") %}
        <div class="comment-box">
            <form action="/updateComment?event_id={{event_id}}&comment_id={{c.comment_id}}" method="POST">
              <span>{{c.user.username}}</span>
              <textarea id="comment" type="comment" name="comment">{{c.comment}}</textarea>
              <button type="submit">Update My Comment</button>
            </form>
            <form class="delete-form" action="/deleteComment?event_id={{event_id}}&comment_id={{c.comment_id}}" method="POST">
              <button type="submit">Delete My Comment</button>
            </form>
          
           </div>
        {% else %}
          <div class="comment-box comment-content">
          <span><i>Written by </i> {{c.user.username}}</span>
          <p>
            {{c.comment}}
          </p>
           </div>
        {% endif %}     
        
 </div>

      {% endfor %}



    </div>

  </div>

</div>

{% endblock %}