{% extends "layout.html" %}

{% block content %}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Event Name</th>
            <th scope="col">Event Date</th>
            <th scope="col">Event Location</th>
        </tr>
    </thead>



    <tbody>
        {% for e in event %}
        {% if user and (user.role == "admin") %}
        <tr>


            <td><a class="like-link" href="/event?event_id={{e[3]}}">{{e[0]}}</a></td>

            <td>{{e[1]}}</td>
            <form action="/updateEvent?event_id={{e[3]}}" method="POST">
                <td><textarea id="location" name="location">{{e[2]}}</textarea></td>
                <td><button type="submit" class="like-link">Update the Location</button></td>
            </form>

            <td><a class="like-link" href="/like?event_id={{e[3]}}">Like</a></td>
            <td><a class="like-link" href="/event?event_id={{e[3]}}">Comment</a></td>

            <form action="/deleteEvent?event_id={{e[3]}}" method="POST">
                <td>
                    <button type="submit" class="like-link">Delete The Event</button>
                </td>
            </form>
        </tr>
        {% else %}
        <tr>


            <td><a class="like-link" href="/event?event_id={{e[3]}}">{{e[0]}}</a></td>

            <td>{{e[1]}}</td>
            <td>{{e[2]}}</td>

            <td><a class="like-link" href="/like?event_id={{e[3]}}">Like</a></td>
            <td><a class="like-link" href="/event?event_id={{e[3]}}">Comment</a></td>
        </tr>



        {% endif %}
        {% endfor %}
    </tbody>


</table>


{% endblock %}